:root {
  --font-size-min: 16px;
  --font-size-res: 2.5vw;
  --font-size-max: 28px;
  --foreground-color: #222;
  --background-color: #f9f9f9;
  --font-size: clamp(
    var(--font-size-min),
    var(--font-size-res),
    var(--font-size-max)
  );
}

::selection {
  background-color: #ffdd00; /* Change to your preferred highlight color */
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  line-height: 1.6;
}

/* Body and typography */
body {
  font-size: 1rem; /* Base size for legibility */
  color: var(--foreground-color);
  background-color: var(--background-color);
  min-height: 100vh;
}

input[type="range"] {
  width: 100%;
}

/* Main content container */
main {
  text-align: left; /* Left align text on mobile */
  width: min(100vw, 70ch);
  padding: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* Typography tweaks */
h1 {
  font-size: 2rem; /* Larger heading for visibility */
  margin-bottom: 1rem;
  color: #111;
  text-align: center;
  font-weight: 200;
}

h2 {
  font-size: 1.5rem; /* Larger heading for visibility */
  color: #111;
  text-align: left;
  font-weight: 200;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

p {
  width: 100%;
}

.monolist {
  list-style-type: none;
  padding-inline-start: 0;
}

.monolist li {
  font-family: monospace;
  color: #666;
}

.monolist li.highlight {
  color: black;
  font-weight: bold;
}

input {
  font-size: 1rem;
  text-align: center;
}

.sans-card {
  font-size: 0.8rem;
  font-family: sans-serif;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sans-card ul,
.sans-card ol {
  padding-inline-start: 1rem;
}

.sans-card h3 {
  font-weight: 600;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
}

.sans-card ::selection {
  background-color: #95dfff;
}
