@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

:root {
	font-size: 18px;
	--bodyfont: 'Noto Sans', sans-serif;
	--codefont: 'Fira Code', monospace;
}

body {
	font-family: var(--bodyfont);
	font-size: 1rem;
	line-height: 1.8rem;
}

pre, code {
	font-family: var(--codefont);
}
